.navbar {
  height: 82px;
  padding: 0 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #edf2f7;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 42px;
  height: 42px;
  border-radius: 12px;
  background: #0b8f87;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.logo h2 {
  font-size: 21px;
  line-height: 1;
  margin: 0;
}

.logo h2 span {
  color: #0b8f87;
}

.logo small {
  display: block;
  margin-top: 4px;
  color: #718096;
  font-size: 8px;
}

.navbar nav {
  display: flex;
  gap: 35px;
}

.navbar nav a {
  color: #52606d;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.navbar nav a:hover {
  color: #0b8f87;
}

.nav-btn {
  padding: 11px 25px;
  background: #0b8f87;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #087a73;
}